@font-face {
  font-family: "Volkswagen Office Head";
  src: url("fonts/VWHeadOffice.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Volkswagen Print Text Bold";
  src: url("fonts/VWText-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container-full {
    max-width: 100%;
    overflow: hidden;
    position: relative; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important; }

body {
  color: #000;
  font-family: "Volkswagen Office Head", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.section {
  padding: 80px 0 30px 0; }
  .section-title {
    font-size: 45px;
    margin-bottom: 30px;
    color: #000;
    text-align: center; }
  @media (max-width: 768px) {
    .section-title {
      font-size: 29px; } }

h3 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px; }

.button {
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  min-height: 40px;
  display: block; }
  .button:hover {
    background: #0068aa;
    color: #fff;
    border: 1px solid #0068aa; }
  .button_main {
    color: #fff;
    background-color: #0099da;
    border: 1px solid #0099da; }
    .button_main:hover {
      background: #0068aa;
      border: 1px solid #0068aa; }
  .button_white {
    background-color: #fff;
    color: #0099da;
    border: 1px solid #dee1e3; }
  .button_mini {
    max-width: 100px; }

.form__rules {
  font-size: 14px;
  color: #fff;
  margin-left: 30px;
  text-decoration: underline;
  font-weight: bold; }
  .form__rules:hover {
    text-decoration: none; }

.form__input {
  width: 100%;
  padding: 7px 15px;
  border-radius: 4px;
  border: 1px solid #dee1e3;
  height: 45px;
  margin-bottom: 20px; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; }
  .navbar-titles__title {
    color: #333;
    margin-bottom: 6px; }
  .navbar-titles__subtitle {
    color: #808890;
    font-size: 11px; }
  .navbar-callback {
    display: flex; }
    .navbar-callback__contact {
      color: #0099da;
      font-size: 14px;
      margin-right: 30px; }
      .navbar-callback__contact a {
        color: #0099da; }
      .navbar-callback__contact i {
        margin-right: 5px; }
    .navbar-callback__adress {
      margin-top: 10px; }
  @media (max-width: 768px) {
    .navbar-callback__contact {
      display: none; } }

.header-slider {
  position: relative; }
  .header-slider__item {
    position: relative; }
  .header-slider__button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -100px; }

.header .slider-overlay {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 35px;
  right: 30px; }
  .header .slider-overlay__item {
    text-align: center;
    margin-left: 30px;
    color: #000; }
  .header .slider-overlay__circle {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(29, 31, 32, 0.3); }
    .header .slider-overlay__circle i {
      color: #fff; }
    .header .slider-overlay__circle:hover {
      background: rgba(29, 31, 32, 0.5); }

.header .slider__arrow {
  position: absolute;
  z-index: 150;
  height: 80px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  top: 50%;
  border: none;
  background: #bbbbbc; }
  .header .slider__arrow:hover {
    background: #8e8f8f; }
  .header .slider__arrow i {
    font-size: 35px;
    color: #fff; }
  .header .slider__arrow_right {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .header .slider__arrow_left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

@media (max-width: 768px) {
  .header .slider-overlay {
    display: none; }
  .header .slider__arrow {
    display: none !important; } }

.models-slider {
  margin-top: 100px;
  display: flex;
  justify-content: center; }
  .models-slider__item {
    width: 20%;
    text-align: center; }
  .models-slider__title {
    font-size: 18px;
    font-weight: bold; }

.models-dots {
  display: flex;
  justify-content: center;
  margin-top: 35px; }

.models-link {
  margin-top: 50px;
  color: #0099da;
  display: flex;
  justify-content: center; }
  .models-link i {
    margin-right: 20px;
    font-size: 20px; }
  .models-link:hover,
  .models-link i:hover {
    color: #0068aa; }

.offer-slider {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between; }

.offer-item {
  width: 30%;
  margin: 0 15px; }

.offer__img img {
  margin: 0 auto; }

.offer__subtitle {
  font-weight: bold;
  margin-bottom: 20px; }

.offer__text {
  margin-bottom: 20px; }

.offer button {
  margin: auto;
  margin-bottom: 10px; }

.news {
  background: #f3f5f6; }
  .news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .news-item {
    width: 30%;
    text-align: center; }
  .news__img img {
    max-width: 290px;
    height: 180px; }
  .news__title {
    margin: 35px auto 10px auto;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    width: 87%;
    min-height: 80px; }
  .news__text {
    margin: 0 auto; }
  .news__button {
    margin: 35px auto; }
  .news-link {
    display: flex;
    justify-content: center; }
    .news-link a {
      display: block; }
  @media (max-width: 1024px) {
    .news-wrapper {
      justify-content: space-evenly;
      align-items: center; } }
  @media (max-width: 768px) {
    .news-item {
      width: 90%; } }

.dealer-item {
  margin: auto;
  width: 50%;
  text-align: center; }

.dealer__img {
  max-width: 370px;
  margin: 0 auto; }

.dealer__name {
  font-size: 18px;
  margin: 75px 0 15px;
  font-weight: bold; }

.dealer__adress {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px; }

.dealer__button {
  margin: 0 auto; }

@media (max-width: 768px) {
  .dealer-item {
    width: 90%; } }

.communicate {
  background: #0099da;
  color: #fff; }
  .communicate-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .communicate-text {
    flex-basis: 50%; }
    .communicate-text__title {
      font-size: 45px;
      font-weight: bold; }
    .communicate-text__text {
      font-size: 14px;
      width: 80%; }
  .communicate-form {
    flex-basis: 50%; }
    .communicate-form__input {
      width: 85%; }
    .communicate-form__button {
      display: block;
      margin-top: 45px; }
    .communicate-form__checkbox {
      margin: 30px 0; }
  @media (max-width: 768px) {
    .communicate-wrapper {
      justify-content: center; }
    .communicate-text {
      flex-basis: 70%;
      text-align: center;
      margin-bottom: 50px; }
      .communicate-text__text {
        width: 100%; }
    .communicate-form {
      flex-basis: 70%; }
      .communicate-form__input {
        width: 100%; }
      .communicate-form__button {
        margin: 45px auto; }
      .communicate-form__rules {
        margin-left: 30px;
        font-size: 19px; }
      .communicate-form__checkbox {
        display: flex;
        align-items: center; }
        .communicate-form__checkbox input {
          width: 40px;
          height: 40px; } }

.proposal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.proposal-item {
  width: 33%;
  text-align: center; }

.proposal__img {
  margin-bottom: 30px; }
  .proposal__img img {
    max-height: 120px;
    max-width: 213px; }

.proposal__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px; }

.proposal__link {
  color: #0099da; }
  .proposal__link i {
    font-size: 18px; }

@media (max-width: 768px) {
  .proposal-item {
    width: 70%;
    margin: 0 auto 30px auto; } }

.footer {
  padding: 150px 0px 50px 0px;
  color: #333333; }
  .footer-text {
    width: 100%;
    margin: 0 auto; }
    .footer-text h3 {
      margin-top: 30px;
      text-align: left; }
    .footer-text p {
      margin: 8px 0; }
  .footer span {
    font-weight: bold; }
  .footer-list {
    padding-left: 30px; }
