@charset "UTF-8";
@font-face {
  font-family: 'Volkswagen Office Head';
  src: url("fonts/VWHeadOffice.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volkswagen Print Text Bold';
  src: url("fonts/VWText-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  margin: 0 auto;
  max-width: 1300px; }
  @media (max-width: ≥992px) {
    .container {
      max-width: 960px; } }
  @media (max-width: ≥768px) {
    .container {
      max-width: 960px; } }
  @media (max-width: ≥576px) {
    .container {
      max-width: 540px; } }

body {
  color: #2f3538;
  font-family: 'Volkswagen Office Head', sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.button {
  background-color: #0099da;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  font-family: "Volkswagen Print Text Bold", sans-serif;
  font-weight: bold;
  padding: 4px 10px; }
  .button:hover {
    background: #0068aa; }
  .button_mini {
    max-width: 100px; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; }
  .navbar-titles__title {
    color: #333;
    margin-bottom: 6px; }
  .navbar-titles__subtitle {
    color: #808890;
    font-size: 11px; }
  .navbar-callback {
    display: flex; }
    .navbar-callback__contact {
      color: #0099da;
      font-size: 14px;
      margin-right: 30px; }
      .navbar-callback__contact a {
        color: #0099da; }
      .navbar-callback__contact i {
        margin-right: 5px; }
    .navbar-callback__adress {
      margin-top: 10px; }
