@font-face {
  font-family: 'Volkswagen Office Head';
  src: url('VWHeadOffice.eot');
  src: url('VWHeadOffice.eot?#iefix') format('embedded-opentype'),
    url('VWHeadOffice.woff') format('woff'),
    url('VWHeadOffice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
